<link rel="stylesheet" href="/css/styles.css">

<style>
    .cuerpo {
        padding: 5%;
	    /*background-color: rgb(18, 138, 160) !important;*/ 
        color: white;

        background: linear-gradient(to bottom right, rgb(37, 36, 64), rgb(128, 128, 128)) !important;

        /*background: linear-gradient(to bottom right, rgb(128, 128, 128), rgb(37, 36, 64)) !important;*/

    }

    p {
        font-size: 20px;
        text-align: center;
        color: white;

    }

    .texto {
        font-size: 20px;
       
    }

    .imagen {
        width: 60%;
        height: 30%;
        display:block;
        margin:auto
    }

    .imagen2 {
        width: 20%;
        height: 10%;
        display:block;
        margin:auto
    }

    .cuerpo{
        color: white;
    }


</style>
{{>navigation}}

<body>

    <div class="cuerpo">
        <p class="font-weight-bold"></p>
        <h1 class="heading mt-5" style="color: #ffffff;">HISTORIA DE LA INSTITUCIÓN</h1>
        <div class="box-container">
            <p>
                La Unidad Educativa Antonio Nariño con casi cien años de fundación se encuentra ubicada en la Provincia
                de Pichincha en el cantón de Quito en la Parroquia la Ecuatoriana en el barrio Espejo.
                <br>
                <br>
                Hacia este momento de la historia orientan su mirada los fundadores de nuestra institución educativa,
                seleccionando a la figura de Antonio Nariño, precursor de la independencia de las naciones hermanas, de
                este modo se considera nombrar a nuestra institución como “ Escuela Fiscal Mixta“Antonio Nariño”, Es el
                28 de febrero de 1929 este centro educativo abre por primera vez sus puertas bajo la figura de una
                escuela unidocente, la misma que estuvo a cargo de Elvira Estrella. Para el año 1983, la comunidad
                educativa estaba integrado por 67 estudiantes y tres profesores: Elsa Dávila de Tapia, Directora y
                profesora del primer ciclo; Laura Pontón, profesora del segundo ciclo; y Antonio Acurio, profesor del
                tercer ciclo. El 27 de mayo de 1985, la institución recibe sus nuevas instalaciones , para el año
                lectivo 2006-2007, la Unidad Educativa “Antonio Nariño” implementa a su oferta académica el Primer Año
                de Educación Básica para el año lectivo 2015 amplia su oferta desde nivel inicial hasta los primos pasos
                del Bachillerato General Unificado ya para el año 2019 -2020, nuestra institución educativa está
                integrada por 2266 estudiante 82 docente y GRADÚA A SU PRIMERA PROMOCIÓN DE BACHILLERES DE LA REPUBLICA
                DEL ECUADOR.
                <br>
                <br>
                Actualmente la Unidad Educativa Antonio Nariño con código AMIE 17H00444 cuenta con 2365 estudiantes , 84
                docentes un departamento de Consejería Estudiantil, Departamento de Inspección y Secretaria.
            </p>
            <div class="box">
                <figure>
                    <a href="#">
                        <img class="imagen" src="/images/historia2.jpeg" alt="Logo de SLee Dw">
                        <br>
                        <br>
                        <img class="imagen" src="/images/historia1.jpeg" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
        </div>
        <p class="font-weight-bold"></p>
        <h1 class="heading mt-5" style="color: #ffffff;">HIMNO A LA UNIDAD EDUCATIVA “ANTONIO NARIÑO”</h1>

            <div class="box">
                <figure>

                    <img class="imagen2" src="/images/escuela.jpeg" alt="Logo de SLee Dw">

                </figure>
            </div>
        </h1>
        
        <div class="text-center texto">

            La virtud y el amor a la patria
            <br>
            Que le forman y adornan al niño
            <br>
            Nos entrega con fe, con paciencia
            <br>
            OH GLORIOSA ANTONIO NARINO
            <br>
            Santo templo de ciencia y civismo
            <br>
            Que al maestro le das tu simiente
            <br>
            A que forme en los surcos del aula
            <br>
            El futuro que ya está en tu mente.
            <br>
            En su hacer diariamente el maestro
            <br>
            Forma al niño en su cuerpo y su mente
            <br>
            Para hacer de este nuevo futuro
            <br>
            A la patria le diga presente.
            <br>
            LA NIÑEZ Y JUVENTUD QUE FORMAMOS
            <br>
            QUE EN SUS AULAS ARDIENTES SE UFANAN
            <br>
            Por formarse en la ciencia y civismo
            <br>
            Para hacer de la patria el mañana.
            <br>
            Salve, salve oh patria te canta al maestro
            <br>
            ESTUDIANTES TODOS con afán corean
            <br>
            Ufanos los padres con amor bendicen
            <br>
            UNIDAD EDUCATIVA ANTONIO NARIÑO

        </div>

    </div>



</body>

{{>footer}}