{{>navigation2}}


                {{!-- Desde aqui se pone todo el contenido --}}


                    <form action="/ingresarMateriaP" method="post">
                        <h4>Agregar Materia</h4>
                        
                        <div class="form-group mt-3">
                            <input type="text" name="n_materia" class="form-control" placeholder="Nombre de la materia">
                        </div>
                        

                        <div class="form-group mt-3 d-grid">
                            <button type="submit" class="btn btn-success btn-block">Guardar</button>
                        </div>

                       


                    </form>
                


                {{!-- Hasta aqui xd --}}
            
{{>endnavigation2}}