<link rel="stylesheet" href="/css/styles.css">

<style>
    .cuerpo {
        padding: 5%;
        background: linear-gradient(to bottom right, rgb(37, 36, 64), rgb(128, 128, 128)) !important;
        color: white;
    }

    p {
        font-size: 20px;
        text-align: center;

    }

    .texto {
        font-size: 20px;
        text-align: center;

    }

    .imagen {
        width: 60%;
        height: 20%;
    }
</style>
{{>navigation}}

<body>

    <div class="cuerpo">
        <p class="font-weight-bold"></p>
        <h1 class="heading mt-5" style="color: #ffffff;">PRINCIPIOS INSTITUCIONALES </h1>
        <div class="box-container">
            <div class="text-center texto">
                <h1 class="font-weight-bold">PRINCIPIOS ÉTICOS
                    <div class="box">
                        <figure>

                            <img class="imagen" src="/images/pr_eticos.jpeg" alt="Logo de SLee Dw">

                        </figure>
                    </div>
                </h1>
            </div>
            <p>
                Los principios éticos que se desarrollan en nuestra Institución siendo la actividad y la permanente
                actualización como son: <br><br>
                Igualdad. - Ya que todas las personas son iguales y gozarán de mismos derechos, deberes y oportunidad
                según
                el artículo 11 numeral 2 de La Constitución nuestros estudiantes serán tratados por igual sin
                discriminación
                o segregación que atenta contra la igualdad de oportunidades. <br>
                Respeto. - educando a los estudiantes en el principio de respeto a su persona y con los demás.
                Justicia. - desarrollando en los estudiantes actitudes de equidad y justicia ser tratados de forma
                igualitario entre todos. <br><br>
                Responsabilidad. - educando en ser consciente de los deberes y obligaciones que le
                competen, y de los derechos que esos deberes producen realizando refuerzo en la conciencia individual.
                <br><br>
                Honestidad. - sensibilizando que deben siempre anteponer la verdad en sus pensamientos, expresiones y
                acciones. <br><br>
                Libertad. - formando estudiantes bajo el principio de emancipación y autonomía del pleno ejercicio de
                sus
                libertades. <br><br>
                Interés superior del niño y adolescente. - orientando y garantizando el efectivo ejercicio de sus
                derechos
                conforme a la Constitución, Ley Orgánica de Educación Intercultural (LOEI) y el Código de la Niñez y
                Adolescencia. <br><br>
                Participación activa de los estudiantes en la organización, toma de decisiones, planificación, gestión y
                rendición de cuentas en los campos deportivo, social, cultural, político y otros.
            </p>


        </div>
        <p class="font-weight-bold"></p>
        <h1 class="heading mt-5" style="color: #ffffff;">ENFOQUES PEDAGÓGICOS

            <div class="box">
                <figure>
                    <img class="imagen" src="/images/epedagogico.jpeg" alt="Logo de SLee Dw">

                </figure>
            </div>
        </h1>
        <div class="box-container">

            <p> El estudiante es un miembro proactivo y autónomo, centro del proceso de enseñanza aprendizaje que
                trabaja individualmente y en equipo. Desarrolla aprendizajes complejos de forma significativa para
                lograr un aprendizaje auténtico. Construye productos y resultados, tanto académicos como de naturaleza
                personal. </p>
            <p> El docente es el facilitador, el experto en planificar, dirigir y acompañar las experiencias memorables
                de aprendizaje, buscando el desarrollo del potencial
                interior de cada estudiante en particular.</p>

        </div>

        <p class="font-weight-bold"></p>

        <h1 class="heading mt-5" style="color: #ffffff;">FILOSOFIA
            <div class="box">
                <figure>

                    <img class="imagen" src="/images/filosofia.jpeg" alt="Logo de SLee Dw">

                </figure>
            </div>
        </h1>

        <div class="box-container">
            <p>
                Nuestra institución fundamenta su filosofía en el ser humano, como un ser social, con características e
                identidad propia, con la posibilidad para transformar el mundo; y construir un futuro diferente formando
                buenos ciudadanos para toda la humanidad, nos enmarcaremos en los aportes de Sócrates, Platón y
                Aristóteles quienes contribuyeron en la educación manifestando que el ser humano tiene la capacidad para
                pensar y analizar; logrando desarrollar el sentido de pertenencia como identidad social. <br><br>
                Reconoceremos y respetaremos siempre los aspectos culturales del entorno de las personas, y de un país
                multicultural, multilingüe y multiétnico, respetando, la identidad personal de los estudiantes de la
                unidad educativa. <br><br>
                Para que este marco filosófico sea viable es necesario contar con un Sistema Educativo intercultural de
                calidad, que cuente con políticas, estrategias y programas de mediano y corto plazo, que resuelvan los
                grandes desafíos educativos que hoy enfrenta el país como la cobertura tecnológica, equidad, educación
                bilingüe, modelo de gestión, descentralización, fortalecimiento institucional, recursos humanos
                altamente calificados y comprometidos, en especial los docentes, aumento de la inversión educativa, que
                a su vez le permita establecer las competencias que los estudiantes deben desarrollar para la formación
                del ciudadano descrito anteriormente.

            </p>
        </div>
    </div>


</body>

{{>footer}}