<link rel="stylesheet" href="/css/styles.css">

<style>
    .cuerpo {
        padding: 5%;
        background: linear-gradient(to bottom right, rgb(37, 36, 64), rgb(128, 128, 128)) !important;
        color: white;
    }

    p {
        font-size: 20px;
        text-align: center;
    }

    .texto {
        font-size: 20px;
    }


    .alinear-derecha {
        float: right;
        width: 40%;
        height: 20%;
        padding: 2%;
    }

    .alinear-izquierda {
        float: left;
        width: 40%;
        height: 20%;
        padding: 2%;

    }

    .ideario li {
        font-size: 20px;
        text-align: justify;
    }


</style>
{{>navigation}}

<body>

    <div class="cuerpo">
        <p class="font-weight-bold"></p>
        <img class="alinear-derecha" src="/images/mision.jpeg" alt="mision">
        <h1 class="heading mt-5" style="color: #ffffff;">MISION </h1>

        <div class="box-container">

            <p>
                La Unidad Educativa “Antonio Nariño” utilizara el modelo pedagógico educativo donde el estudiante es el
                centro del aprendizaje en marcado en formar lideres para la sociedad
                utilizando metodologías interactivas desarrollando habilidades deportistas, culturales, innovando en las
                TICs. Con criterio de participación, compromiso ante la comunidad
                educativa, con docentes capacitados en formar seres humanos capaces de ser autocríticos, reflexivos,
                productivos para la sociedad.



            </p>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p class="font-weight-bold"></p>
        <img class="alinear-izquierda" src="/images/vision.jpeg" alt="mision">
        <h1 class="heading mt-5" style="color: #ffffff;">VISION</h1>


        <div class="box-container">
            <p>La Unidad Educativa Antonio Nariño para el año 2026 seguirá formando lideres con sentido de
                pertenencia,
                responsabilidad solidarios, creadores de nuevos enfoques tecnológicos vanguardistas, ecologistas
                para
                las nuevas generaciones, basados en el amor y respeto.</p>



        </div>



        <br>
        <br>
        <br>
        <br>
        <br>   
        <br>   
        <br>   
        <br>   
        <br>   
        <br>   
        <br>   
        <br>
        <br>   
        <br>   
        <br>
        <br>   
        <br>   
        <br>

        <h1 class="heading mt-5" style="color: #ffffff;">IDEARIO</h1>

        <div class="ideario">
            <div class="box-container ideario">

                <ul>
                    <li>La Unidad Educativa Antonio Nariño trabaja con los principios de equidad, igualdad y
                        libertad. </li>
                    <li>Formamos estudiantes con capacidad reflexiva y crítica, comprometidos con la sociedad y el
                        medio ambiente. </li>
                    <li>Garantiza un espacio democrático donde se ejerce el derecho a la libre expresión para una
                        convivencia pacífica.</li>
                    <li>Buscamos la formación holística de nuestros estudiantes, mediante el desarrollo académico,
                        deportivo, artístico, social y cultural desarrollando la personalidad, las aptitudes,
                        capacidades mentales hasta su máximo potencial en un entorno lúdico y afectivo. </li>
                    <li>Participamos con responsabilidad en las diferentes actividades institucionales, a nivel de
                        autoridades, docentes; personal administrativo, de servicios generales y apoyo; madres,
                        padres de familia y representantes legales, así como los estudiantes. </li>
                    <li>Ejecutamos planes, programas y proyectos para garantizar la seguridad integral de la
                        comunidad educativa.</li>
                </ul>



            </div>
        </div>



    </div>



</body>

{{>footer}}