<footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/images/logoE.png" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>UNIDAD EDUCATIVA FISCAL ANTONIO NARIÑO</h2>
                <p>UBICACION: CIUDADELA IBARRA - BARRIO ESPEJO - LA ECUATORIANA</p>
                <h2>CONTACTOS: </h2>
                <p>MSc. MARIA DEL CARMEN CALDERON </p>                
                <p>TEL: 0998843771</p>               
                
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/UNIDAD-EDUCATIVA-FISCAL-ANTONIO-NARI%C3%91O-1643587575716406/" class="fa fa-facebook" target="a-blank"></a>   
                    <a href="https://api.whatsapp.com/send?phone=593981995878&text=Hola, Nececito mas informacion!" class="fa fa-whatsapp" target="a-blank"></a>                 
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>U.E.F António Nariño</b> - Todos los Derechos Reservados.</small>
        </div>
</footer>